@import "mixins.scss";
$login-bg: "/resources/images/bgs/login.jpg";

.login-fix-bg {
    background: url(#{$login-bg}) center no-repeat !important;
    background-position: center bottom;
    background-size: cover !important;
}
.fxt-content {
    padding: 2.5rem !important;

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus {
        border: 1px solid rabg(0, 69, 53, 0.8);
        -webkit-text-fill-color: #efefef;
        -webkit-transition: background-color 5000s ease-in-out 0s;
        -o-transition: background-color 5000s ease-in-out 0s;
        transition: background-color 5000s ease-in-out 0s;
        caret-color: #fff;
    }
    .card {
        width: 550px !important;
        border: 0;
        box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.02);
        background-color: rgba(#fff, 0.95);
        margin-bottom: 0px;
        .card-body {
            padding: 5rem !important;
        }
    }
    .fxt-transformY-50 {
        opacity: 0;
        -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
        transform: translateY(50px);
    }
    .loaded .fxt-transformY-50 {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
        -webkit-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
    }
    .fxt-transition-delay-1 {
        -webkit-transition-delay: 0.1s;
        -o-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }
    .fxt-transition-delay-2 {
        -webkit-transition-delay: 0.2s;
        -o-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }
    .fxt-transition-delay-3 {
        -webkit-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }

    .login-control {
        input {
            min-height: 46px;
            -webkit-box-shadow: none;
            box-shadow: none;
            border: 1px solid #a2afae;
            padding: 2px 10px 2px 36px !important;
            border-radius: 5px;
            overflow: hidden;
            -webkit-transition: border-color 0.15s ease-in-out,
                -webkit-box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out,
                -webkit-box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out,
                -webkit-box-shadow 0.15s ease-in-out;
            background-color: transparent;
            color: #004535;
            caret-color: #004535;
            &:hover {
                background-color: transparent;
            }
            &:focus {
                color: #004535;
                background-color: transparent;
                border-color: #004535;
                box-shadow: 0 0 0 0.3rem rgba(255, 255, 255, 0.2) !important;
                outline: 0;
            }
            &:-webkit-autofill {
                transition: background-color 5000s ease-in-out 0s;
                -webkit-text-fill-color: #247a5e !important;
                &:hover,
                &:focus,
                &:active {
                    transition: background-color 5000s ease-in-out 0s;
                    -webkit-text-fill-color: #247a5e !important;
                }
            }
        }
        &:focus {
            color: #004535;
            background-color: transparent;
            border-color: #004535;
            box-shadow: 0 0 0 0.3rem rgba(255, 255, 255, 0.2) !important;
            outline: 0;
        }
        &:hover {
            background-color: transparent;
        }
        &:-webkit-autofill {
            transition: background-color 5000s ease-in-out 0s;
            -webkit-text-fill-color: #909997 !important;
            &:hover,
            &:focus,
            &:active {
                transition: background-color 5000s ease-in-out 0s;
                -webkit-text-fill-color: #909997 !important;
            }
        }
        &::-webkit-input-placeholder {
            color: #afcac4;
            opacity: 1;
        }
        &::-moz-placeholder {
            color: #afcac4;
            opacity: 1;
        }
        :-ms-input-placeholder {
            color: #afcac4;
            opacity: 1;
        }
    }
    .has-error {
        .login-control {
            border-color: #ff0000;
        }
    }
    .login-group {
        position: relative;
        z-index: 1;
    }
    .login-password {
        input {
            min-height: 46px;
            -webkit-box-shadow: none;
            box-shadow: none;
            border: 1px solid #a2afae;
            padding: 2px 10px 2px 36px !important;
            border-radius: 5px;
            overflow: hidden;
            -webkit-transition: border-color 0.15s ease-in-out,
                -webkit-box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out,
                -webkit-box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out,
                -webkit-box-shadow 0.15s ease-in-out;
            background-color: transparent;
            color: #004535;
            caret-color: #004535;
            &:hover {
                background-color: transparent;
            }
            &:focus {
                color: #004535;
                background-color: transparent;
                border-color: #004535;
                box-shadow: 0 0 0 0.3rem rgba(255, 255, 255, 0.2) !important;
                outline: 0;
            }
            &:-webkit-autofill {
                transition: background-color 5000s ease-in-out 0s;
                -webkit-text-fill-color: #ffbd3f !important;
                &:hover,
                &:focus,
                &:active {
                    transition: background-color 5000s ease-in-out 0s;
                    -webkit-text-fill-color: #ffbd3f !important;
                }
            }
        }
    }
    .ant-input-affix-wrapper {
        background-color: transparent;
        border-color: #afcac4 !important;
        &:hover {
            input {
                border-color: #004535 !important;
                background-color: transparent;
            }
        }
    }
    .login-action {
        position: relative;
        height: 50px !important;
    }
    .login-action-loading {
        position: absolute;
        width: 100%;
        height: 50px;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.2);
        left: 0px;
        top: 0px;
        text-align: center;
    }
    .login-button {
        background-color: rgba(#009ef7, 0.75);
        border: 1px solid rgba(#009ef7, 0.75);
        color: #fff;
        display: inline-block;
        padding: 0px 20px;
        position: relative;
        opacity: 999;
        border-radius: 4px;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        line-height: 25px;
        height: 50px;
        cursor: pointer;
        &:disabled {
            pointer-events: none;
            opacity: 0.6;
            background: $gray-2;
        }
        &:hover {
            color: #fff;
            background-color: #0095e8;
            &::before {
                width: 100%;
            }
            &::after {
                height: 100%;
            }
        }
        &::before,
        &::after {
            content: "";
            border-style: solid;
            position: absolute;
            z-index: 5;
            border-radius: 3px;
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
            -webkit-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }
        &::before {
            width: 0;
            height: 100%;
            border-width: 1px 0 1px 0;
            top: -1px;
            left: 0;
            -webkit-transition-delay: 0.05s;
            -o-transition-delay: 0.05s;
            transition-delay: 0.05s;
            border-color: #0095e8;
        }
        &::after {
            width: 100%;
            height: 0;
            border-width: 0 1px 0 1px;
            top: 0;
            left: -1px;
            border-color: #0095e8;
        }
    }
    .has-error {
        .login-password {
            input {
                background-color: transparent;
                color: #0095e8;
            }
            .ant-input-suffix svg {
                color: #bebebe;
                fill: #bebebe;
            }
        }
        .ant-input-affix-wrapper .ant-input:hover {
            background-color: transparent;
        }
    }
    .ant-row {
        min-height: 60px;
    }
    .ant-form-explain {
        min-height: 24px;
        line-height: 22px;
        padding: 5px 0px;
        font-weight: bold;
    }
}
.login-footer {
    line-height: 2;
    font-size: rem(12);
    text-align: center;
    padding-bottom: rem(30);
    p {
        margin: 0px;
        padding: 0px;
        color: rgba(255, 255, 255, 0.6);
        a {
            color: rgba(255, 255, 255, 0.8);
        }
    }
}
.text-desc {
    font-size: 12px;
    color: rgba(#181c32, 0.5);
}
.login-title {
    color: #181c32;
}
.login-right {
    display: flex;
    width: 50% !important;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
.login-left {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row !important;
    justify-content: center;
    padding-right: 2.5rem !important;
    padding-left: 2.5rem !important;
    align-items: center;
    color: #fff;
    width: 50% !important;
    position: relative;

    .login-left-text {
        position: absolute;
        height: rem(40);
        text-align: center;
        width: 100%;
        bottom: 0px;
        left: 0px;
        z-index: 2;
    }
}
@media (min-width: $sm-min-width) {
    .login-container {
        max-width: 540px;
    }
}
@media (max-width: $sm-min-width) {
    .login-fxt-container .fxt-content {
        padding-left: 30px;
    }
}
@media (min-width: $md-min-width) {
    .login-container {
        max-width: 720px;
    }
}
@media (min-width: $lg-min-width) {
    .login-container {
        max-width: 992px;
    }
}
@media (min-width: $xl-min-width) {
    .login-container {
        max-width: 1140px;
    }
}
